# Игнорировать виртуальное окружение
.venv/

# Игнорировать базу данных
src/mydb.db

# Игнорировать файл с переменными окружения
.env

# Игнорировать временные и служебные файлы IDE
.idea/
.vscode/
__pycache__/
*.pyc

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы тестов, если они временные
test_main.http
scripts.txt

# Игнорировать файлы ОС
.DS_Store
Thumbs.db